{% extends 'base.html' %}

{% load i18n %}

{% block title %}Booking{% endblock title %}

{% block content %}
<div class="container h-100 d-flex align-items-center justify-content-center">
    <div class="row justify-content-center w-100">
        <div class="col-8">
            <div class="mb-3">
                <!-- Error message -->
                {% if messages %}
                <div class="alert alert-danger" role="alert">
                    {% for message in messages %}
                    <p>{{ message }}</p>
                    {% endfor %}
                </div>
                {% endif %}
            </div>
            <h1 class="text-center">Booking</h1>
            <p class="text-center">
                {% trans "Remember you will be charged by hour. Down below you can choose the amount of time you're going to stay with us!" %}
            </p>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-primary fw-bold d-block mx-auto w-100">Book</button>
            </form>
        </div>
    </div>
</div>
{% endblock content %}