{% extends 'base.html' %}

{% load i18n %}

{% block title %}Edit Booking{% endblock title %}

{% block content %}
<div class="container">
    <h1 class="text-center mt-4 mb-4">{% trans "Edit Booking" %}</h1>
    <div class="row justify-content-center">
        <div class="col-md-8">
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-primary fw-bold">{% trans "Save Changes" %}</button>
                <a href="{{ request.META.HTTP_REFERER }}" class="btn btn-danger fw-bold">{% trans "Cancel" %}</a>
            </form>
        </div>
    </div>
</div>
{% endblock content %}