{% extends 'base.html' %}
{% load cloudinary %}

{% block content %}
<div class="d-flex flex-column align-items-center text-center">
    {% if spa_page_content %}
    <h1>{{ spa_page_content.heading }}</h1>
    <img src="{{ spa_page_content.image.url }}" alt="" class="img-fluid" width="70%">
    <br>
    {% if spa_page_content.paragraph1 %}
    <p>{{ spa_page_content.paragraph1 }}</p>
    {% endif %}

    {% if spa_page_content.paragraph2 %}
    <p>{{ spa_page_content.paragraph2 }}</p>
    {% endif %}

    {% if spa_page_content.paragraph3 %}
    <p>{{ spa_page_content.paragraph3 }}</p>
    {% endif %}

    {% if spa_page_content.paragraph4 %}
    <p>{{ spa_page_content.paragraph4 }}</p>
    {% endif %}

    {% if spa_page_content.paragraph5 %}
    <p>{{ spa_page_content.paragraph5 }}</p>
    {% endif %}
    {% endif %}
</div>
{% endblock content %}